.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #F96666;
  border: 1px solid #674747;
  color: #EEEEEE;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ef4a4a;
  border-color: #674747;
}